.back-to-top {
    position: fixed;
    bottom: 35px;
    right: 5px;
    display: block;
    width: 120px;
    height: 120px;
    line-height: 50px;
    font-size: 80px;
    padding: 20px 0;
    background: $accent-1;
    color: $white;
    text-align: center;
    opacity: 0;
    text-decoration: none;
    border-radius: 50%;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &.show{
        opacity: 1;
    }
    &:hover{
        bottom: 38px;
        transition: $transition;
    }
    @include media-query(490px) { 
        right: -20px;
        bottom: -20px;
    }
    i{
        color: $white;
    }
}
.cus-btn{
    padding: clamp(12px, 0.833vw, 22px) clamp(24px, 1.66vw, 42px);
    border-radius: 15px;
    font-weight: 600;
    font-size: clamp(14px, 0.833vw, 22px);
    line-height: 150%;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    transition: $transition;
    @include media-query(575px) {
        padding: 8px 16;
        border-radius: 10px;
    }
    i{
        font-size: clamp(18px, 1.25vw, 32px);
        @include media-query(575px) {
            font-size: clamp(12px, 0.833vw, 22px);
        }
    }
    img{
        width: 24px !important;
    }
    &.dark{
        background: $accent-1;
        color: $white;
        &:hover{
            color: $black;
            background: $white;
        }
    }
    &.light{
        background: $white;
        color: $black;
        &:hover{
            background: $accent-1;
            color: $white;
        }
    }
    &.small{
        padding: 8px 16px !important;
        i{
            font-size: clamp(14px, 0.933vw, 24px);
        }
    }
}