.release-banner{
    padding: 24px;
    border-radius: 20px;
    background: linear-gradient(90deg, #1B1C1E 0.27%, rgba(43, 69, 81, 0.40) 71.25%);
    backdrop-filter: blur(10px);
    @include media-query(991px) {
        margin-top: 72px;
    }
    @include media-query(575px) {
        padding-right: 0;
    }
    h1{
        @include media-query(575px) {
            margin-bottom: 24px;
        }
    }
    .banner-slider{
        .song-card{
            margin: 0 24px 0 0;
            box-shadow: none;
        }
    }
}