svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='54px', height='46px', viewbox='0 0 54 46', enable-background='new 0 0 54 46', xml:space='preserve')
   g
      path( d='M53.774,0.23c-0.21-0.212-0.52-0.284-0.8-0.186l-3.518,1.239c-4.811,1.694-9.217,4.152-13.098,7.305\
    c-2.003,1.627-3.938,3.386-5.753,5.227L0.227,44.661c-0.018,0.018-0.035,0.038-0.052,0.058c-0.007,0.008-0.013,0.017-0.019,0.026\
    c-0.009,0.012-0.018,0.024-0.026,0.036c-0.007,0.011-0.013,0.022-0.02,0.033c-0.006,0.011-0.013,0.022-0.019,0.033\
    c-0.006,0.011-0.011,0.023-0.017,0.035c-0.005,0.011-0.011,0.023-0.016,0.035c-0.005,0.011-0.008,0.023-0.013,0.035\
    c-0.004,0.012-0.009,0.025-0.013,0.037C0.03,45,0.027,45.012,0.024,45.024c-0.003,0.013-0.007,0.025-0.009,0.038\
    c-0.003,0.014-0.004,0.028-0.006,0.042c-0.002,0.011-0.004,0.022-0.005,0.033c-0.005,0.052-0.005,0.103,0,0.155\
    c0.001,0.011,0.003,0.022,0.005,0.033c0.002,0.014,0.004,0.029,0.006,0.043c0.003,0.013,0.006,0.025,0.009,0.038\
    c0.003,0.012,0.006,0.025,0.009,0.037c0.004,0.012,0.008,0.024,0.013,0.037c0.004,0.012,0.008,0.024,0.013,0.036\
    c0.005,0.012,0.01,0.023,0.016,0.034c0.005,0.012,0.011,0.024,0.017,0.035c0.006,0.011,0.012,0.021,0.019,0.032\
    c0.007,0.011,0.013,0.023,0.02,0.034c0.008,0.012,0.017,0.024,0.026,0.035c0.006,0.009,0.012,0.018,0.019,0.026\
    c0.032,0.04,0.069,0.077,0.108,0.11c0.008,0.007,0.017,0.013,0.026,0.019c0.012,0.009,0.023,0.018,0.035,0.026\
    c0.011,0.007,0.022,0.014,0.033,0.02c0.011,0.006,0.021,0.013,0.032,0.019c0.011,0.006,0.023,0.011,0.035,0.017\
    c0.011,0.005,0.022,0.011,0.034,0.016c0.011,0.005,0.023,0.009,0.035,0.013c0.012,0.004,0.024,0.009,0.037,0.013\
    c0.012,0.004,0.024,0.006,0.035,0.009c0.013,0.003,0.025,0.007,0.038,0.009c0.014,0.003,0.027,0.004,0.041,0.006\
    c0.011,0.002,0.022,0.004,0.033,0.005C0.722,45.999,0.747,46,0.773,46h17.353c0.007,0,0.013-0.001,0.02-0.001\
    c0.019-0.001,0.037-0.001,0.056-0.003c0.014-0.001,0.027-0.004,0.041-0.006c0.011-0.002,0.023-0.003,0.034-0.005\
    c0.014-0.003,0.028-0.007,0.043-0.01c0.01-0.003,0.021-0.005,0.031-0.008c0.013-0.004,0.026-0.009,0.039-0.014\
    c0.011-0.004,0.022-0.008,0.032-0.012c0.012-0.005,0.023-0.011,0.035-0.016c0.011-0.005,0.023-0.011,0.034-0.017\
    c0.011-0.006,0.021-0.013,0.031-0.019c0.011-0.007,0.023-0.013,0.033-0.021c0.011-0.007,0.021-0.016,0.031-0.024\
    c0.01-0.007,0.02-0.014,0.03-0.022c0.015-0.012,0.029-0.026,0.043-0.039c0.005-0.004,0.009-0.008,0.014-0.012l21.714-22.033\
    c1.815-1.842,3.548-3.805,5.151-5.837c3.108-3.938,5.53-8.409,7.199-13.29l1.221-3.569C54.054,0.757,53.983,0.442,53.774,0.23z\
    M51.277,4.096c-1.612,4.712-3.948,9.026-6.946,12.824c-1.568,1.987-3.263,3.907-5.038,5.708L17.805,44.432H2.637l29.062-29.509\
    c1.774-1.8,3.667-3.52,5.626-5.112c3.743-3.041,7.995-5.412,12.638-7.047l2.012-0.708L51.277,4.096z')
      path( d='M47.992,5.043L43.493,7.36c-0.018,0.009-0.035,0.019-0.052,0.029c-0.013,0.008-0.028,0.016-0.046,0.025\
    c-2.215,1.134-4.94,2.793-6.371,5.58l-0.008,0.015c-0.528,1.029-0.338,2.272,0.471,3.093l0.642,0.652\
    c0.494,0.501,1.15,0.776,1.847,0.776c0.416,0,0.832-0.103,1.197-0.296l0.017-0.009c2.749-1.453,4.385-4.219,5.502-6.467\
    c0.009-0.018,0.017-0.033,0.025-0.046c0.01-0.017,0.02-0.035,0.029-0.053l2.284-4.564c0.151-0.303,0.094-0.67-0.143-0.909\
    C48.651,4.947,48.29,4.889,47.992,5.043z M45.38,9.928c-0.022,0.037-0.044,0.08-0.067,0.127c-1.013,2.037-2.478,4.535-4.836,5.782\
    c-0.003,0.002-0.009,0.005-0.013,0.007c-0.15,0.079-0.318,0.121-0.487,0.121c-0.285,0-0.553-0.113-0.754-0.317l-0.642-0.652\
    c-0.33-0.335-0.408-0.841-0.193-1.26c0.001-0.001,0.006-0.011,0.006-0.013c1.228-2.393,3.69-3.879,5.697-4.907\
    c0.047-0.024,0.089-0.047,0.126-0.069l2.365-1.219L45.38,9.928z')
      path( d='M26.897,23.307L15.403,34.969c-0.302,0.306-0.302,0.803,0,1.109c0.151,0.153,0.349,0.23,0.546,0.23\
    c0.198,0,0.396-0.077,0.546-0.23l11.494-11.662c0.302-0.306,0.302-0.803,0-1.109C27.688,23.001,27.198,23.001,26.897,23.307z')
