svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='69px', height='69px', viewbox='0 0 69 69', enable-background='new 0 0 69 69', xml:space='preserve')
   g
      path( d='M21.592,31.092h4.755c0.384,0,0.696-0.312,0.696-0.696v-2.445c0-0.384-0.312-0.696-0.696-0.696h-3.611\
    c-1.015,0-1.841,0.826-1.841,1.841v1.301C20.896,30.78,21.208,31.092,21.592,31.092z M22.288,29.095\
    c0-0.248,0.201-0.449,0.449-0.449h2.915V29.7h-3.364V29.095z')
      path( d='M29.189,31.092h3.363c0.384,0,0.696-0.312,0.696-0.696c0-0.384-0.312-0.696-0.696-0.696h-3.363\
    c-0.384,0-0.696,0.312-0.696,0.696C28.493,30.78,28.804,31.092,29.189,31.092z')
      path( d='M29.189,28.646h3.363c0.384,0,0.696-0.312,0.696-0.696c0-0.384-0.312-0.696-0.696-0.696h-3.363\
    c-0.384,0-0.696,0.312-0.696,0.696C28.493,28.335,28.804,28.646,29.189,28.646z')
      path( d='M12.355,54.783L54.81,12.345c0.007-0.007,0.012-0.014,0.018-0.02c0.004-0.004,0.008-0.007,0.011-0.012\
    c0.002-0.002,0.004-0.005,0.006-0.008c0.01-0.012,0.02-0.024,0.029-0.037c0.005-0.006,0.009-0.012,0.014-0.019\
    c0.009-0.013,0.017-0.026,0.025-0.039c0.004-0.007,0.008-0.013,0.012-0.02c0.007-0.013,0.014-0.027,0.02-0.04\
    c0.003-0.007,0.007-0.014,0.01-0.022c0.006-0.013,0.011-0.027,0.016-0.04c0.003-0.008,0.006-0.016,0.008-0.024\
    c0.004-0.013,0.008-0.027,0.011-0.04c0.002-0.008,0.004-0.017,0.006-0.025c0.003-0.013,0.005-0.027,0.007-0.04\
    c0.001-0.009,0.003-0.017,0.004-0.026c0.002-0.014,0.003-0.027,0.003-0.041c0-0.009,0.001-0.017,0.001-0.026\
    c0-0.014,0-0.027-0.001-0.041c0-0.008-0.001-0.017-0.001-0.025c-0.001-0.014-0.003-0.028-0.005-0.041\
    c-0.001-0.008-0.002-0.017-0.004-0.025c-0.002-0.014-0.005-0.027-0.008-0.041c-0.002-0.008-0.004-0.017-0.006-0.025\
    c-0.004-0.013-0.008-0.026-0.012-0.039c-0.003-0.009-0.006-0.017-0.009-0.026c-0.005-0.012-0.01-0.024-0.015-0.036\
    c-0.004-0.009-0.008-0.018-0.012-0.027c-0.005-0.011-0.011-0.022-0.018-0.032c-0.005-0.009-0.011-0.019-0.017-0.028\
    c-0.006-0.01-0.013-0.019-0.019-0.029c-0.007-0.01-0.014-0.019-0.021-0.029c-0.007-0.009-0.014-0.017-0.021-0.026\
    c-0.008-0.009-0.016-0.019-0.025-0.027c-0.003-0.003-0.006-0.007-0.009-0.01c-0.005-0.005-0.011-0.01-0.016-0.015\
    c-0.005-0.005-0.01-0.01-0.016-0.015l-0.062-0.054C49.116,6.397,41.936,3.71,34.5,3.71c-8.224,0-15.956,3.203-21.771,9.018\
    C6.913,18.544,3.711,26.276,3.711,34.5c0,7.441,2.689,14.62,7.572,20.222c0.021,0.028,0.043,0.055,0.068,0.081\
    c0.136,0.136,0.314,0.204,0.492,0.204c0.082,0,0.164-0.015,0.242-0.044c0,0,0.001,0,0.001,0c0.037-0.014,0.072-0.031,0.106-0.051\
    c0.004-0.002,0.008-0.005,0.012-0.007c0.031-0.019,0.062-0.041,0.09-0.065c0.003-0.002,0.006-0.004,0.009-0.006\
    c0.008-0.007,0.016-0.015,0.024-0.023c0.003-0.003,0.005-0.005,0.008-0.007l0.016-0.016C12.353,54.785,12.354,54.784,12.355,54.783\
    z M19.4,31.697V29.52c0-1.883,1.532-3.416,3.416-3.416h16.261l-9.562,9.558h-3.747H23.54h-0.723c-1.883,0-3.416-1.532-3.416-3.416\
    V31.697z M28.123,37.054l-1.659,1.659v-1.659H28.123z M25.072,37.054v3.05l-0.837,0.836v-3.886H25.072z M34.5,5.102\
    c6.877,0,13.524,2.407,18.793,6.791L40.469,24.712H22.816c-2.651,0-4.807,2.157-4.807,4.807v1.482h-3.546V25.98\
    c0-0.384-0.312-0.696-0.696-0.696h-2.228c-0.384,0-0.696,0.312-0.696,0.696v5.022h-0.374c-0.919,0-1.666,0.748-1.666,1.667v0.519\
    c0,0.919,0.748,1.666,1.666,1.666h0.374v0.962c0,0.384,0.312,0.696,0.696,0.696h2.228c0.384,0,0.696-0.312,0.696-0.696v-0.962\
    h4.242c0.025,0,0.049-0.001,0.073-0.004c0.857,1.325,2.347,2.204,4.038,2.204h0.028v5.277L11.886,53.284\
    C7.506,48.016,5.102,41.375,5.102,34.5C5.102,18.29,18.29,5.102,34.5,5.102z M14.462,32.393h3.546v1.068h-3.546V32.393z\
    M13.071,26.676v8.443h-0.837v-8.443H13.071z M10.842,33.461h-0.374c-0.151,0-0.275-0.123-0.275-0.275v-0.519\
    c0-0.152,0.123-0.275,0.275-0.275h0.374V33.461z')
      path( d='M57.683,14.238l-0.037-0.043c-0.025-0.029-0.035-0.04-0.081-0.092c-0.004-0.005-0.009-0.009-0.014-0.014\
    c-0.005-0.005-0.009-0.01-0.013-0.015c-0.004-0.004-0.008-0.007-0.011-0.01c-0.009-0.009-0.018-0.017-0.027-0.025\
    c-0.008-0.007-0.017-0.015-0.026-0.021c-0.01-0.007-0.019-0.014-0.029-0.021c-0.009-0.007-0.019-0.013-0.028-0.019\
    c-0.01-0.006-0.02-0.012-0.029-0.017c-0.01-0.006-0.02-0.011-0.031-0.016c-0.01-0.005-0.019-0.009-0.029-0.014\
    c-0.011-0.005-0.022-0.01-0.033-0.014c-0.01-0.004-0.019-0.007-0.029-0.01c-0.012-0.004-0.023-0.008-0.035-0.011\
    c-0.01-0.003-0.019-0.005-0.029-0.007c-0.012-0.003-0.024-0.005-0.036-0.007c-0.01-0.002-0.02-0.003-0.03-0.004\
    c-0.012-0.002-0.024-0.003-0.036-0.004c-0.01-0.001-0.021-0.001-0.031-0.002c-0.012,0-0.024-0.001-0.035,0\
    c-0.011,0-0.021,0.001-0.032,0.002c-0.012,0.001-0.023,0.002-0.035,0.003c-0.011,0.001-0.021,0.003-0.032,0.005\
    c-0.011,0.002-0.022,0.004-0.034,0.006c-0.011,0.002-0.021,0.005-0.032,0.008c-0.011,0.003-0.022,0.006-0.033,0.009\
    c-0.01,0.003-0.021,0.007-0.031,0.011c-0.011,0.004-0.022,0.008-0.033,0.013c-0.01,0.004-0.019,0.009-0.029,0.013\
    c-0.011,0.005-0.022,0.011-0.033,0.017c-0.009,0.005-0.018,0.01-0.027,0.016c-0.011,0.007-0.022,0.014-0.032,0.021\
    c-0.009,0.006-0.017,0.012-0.025,0.019c-0.01,0.008-0.02,0.016-0.03,0.024c-0.004,0.003-0.008,0.006-0.011,0.009\
    c-0.005,0.004-0.009,0.009-0.014,0.013c-0.005,0.005-0.01,0.009-0.015,0.014L45.81,24.804c-0.108,0.062-0.198,0.152-0.26,0.26\
    L14.046,56.527c-0.005,0.005-0.009,0.01-0.013,0.015c-0.005,0.005-0.01,0.01-0.015,0.016c-0.003,0.004-0.006,0.008-0.009,0.012\
    c-0.008,0.009-0.015,0.019-0.022,0.028c-0.007,0.009-0.014,0.018-0.02,0.028c-0.007,0.01-0.013,0.02-0.019,0.03\
    c-0.006,0.01-0.012,0.02-0.018,0.03c-0.005,0.01-0.01,0.02-0.015,0.03c-0.005,0.011-0.01,0.021-0.015,0.032\
    c-0.004,0.01-0.008,0.02-0.012,0.03c-0.004,0.011-0.008,0.023-0.012,0.034c-0.003,0.01-0.006,0.019-0.008,0.029\
    c-0.003,0.012-0.006,0.024-0.009,0.036c-0.002,0.01-0.004,0.02-0.005,0.029c-0.002,0.012-0.004,0.024-0.005,0.037\
    c-0.001,0.01-0.002,0.02-0.003,0.03c-0.001,0.012-0.002,0.024-0.002,0.036c0,0.01,0,0.021,0,0.031c0,0.012,0.001,0.023,0.002,0.035\
    c0.001,0.011,0.002,0.021,0.003,0.032c0.001,0.011,0.003,0.023,0.005,0.034c0.002,0.011,0.004,0.022,0.007,0.033\
    c0.002,0.011,0.005,0.022,0.008,0.033c0.003,0.011,0.006,0.021,0.01,0.032c0.003,0.011,0.007,0.021,0.011,0.032\
    c0.004,0.01,0.008,0.021,0.013,0.031c0.005,0.011,0.009,0.021,0.015,0.031c0.005,0.01,0.01,0.019,0.016,0.029\
    c0.006,0.01,0.012,0.021,0.018,0.031c0.006,0.009,0.012,0.018,0.018,0.027c0.007,0.01,0.014,0.02,0.022,0.03\
    c0.007,0.009,0.014,0.017,0.021,0.025c0.008,0.009,0.016,0.018,0.025,0.027c0.003,0.003,0.006,0.007,0.01,0.011\
    c0.005,0.005,0.011,0.01,0.016,0.015c0.005,0.005,0.009,0.01,0.014,0.014c5.633,4.997,12.887,7.749,20.425,7.749\
    c8.224,0,15.956-3.203,21.771-9.018c5.815-5.815,9.018-13.547,9.018-21.771C65.29,27.041,62.588,19.845,57.683,14.238z\
    M55.88,28.963h-5.774v-1.068h5.774V28.963z M48.714,27.199v2.46v2.587c0,1.883-1.532,3.416-3.416,3.416h-1.5h-6.891l9.57-9.558\
    h2.237V27.199z M41.326,45.497h-3.339l-0.306-1.471h2.778c0.384,0,0.696-0.312,0.696-0.696c0-0.384-0.312-0.696-0.696-0.696h-3.068\
    l-0.306-1.471h2.507c0.384,0,0.696-0.312,0.696-0.696c0-0.384-0.312-0.696-0.696-0.696h-2.797l-0.565-2.717h7.013l2.904,12.601\
    c0.026,0.113-0.022,0.194-0.053,0.233c-0.031,0.039-0.1,0.104-0.215,0.104h-6.524c-0.252,0-0.472-0.179-0.523-0.426l-0.557-2.677\
    h3.049c0.384,0,0.696-0.312,0.696-0.696C42.022,45.808,41.71,45.497,41.326,45.497z M34.5,63.898\
    c-6.95,0-13.646-2.451-18.941-6.915l19.372-19.347l2.539,12.214c0.185,0.889,0.978,1.534,1.886,1.534h6.524\
    c0.511,0,0.986-0.229,1.304-0.629c0.318-0.4,0.435-0.915,0.32-1.412l-2.832-12.288h0.626c2.651,0,4.807-2.157,4.807-4.807v-1.892\
    h5.804c0.153,0.884,0.924,1.559,1.852,1.559h0.464c1.037,0,1.881-0.844,1.881-1.881v-3.208c0-1.037-0.844-1.881-1.881-1.881h-0.464\
    c-0.927,0-1.698,0.675-1.852,1.559h-5.804v-1.095c0-0.384-0.312-0.696-0.696-0.696h-1.539l9.136-9.124\
    c4.448,5.289,6.891,11.981,6.891,18.912C63.898,50.71,50.71,63.898,34.5,63.898z M57.272,29.659v-2.46v-0.374\
    c0-0.27,0.22-0.49,0.49-0.49h0.464c0.27,0,0.49,0.22,0.49,0.49v3.208c0,0.27-0.22,0.49-0.49,0.49h-0.464\
    c-0.27,0-0.49-0.22-0.49-0.49V29.659z')
      path( d='M66.289,21.071c-1.738-4.108-4.225-7.798-7.393-10.966c-3.168-3.168-6.858-5.656-10.966-7.393\
    C43.675,0.912,39.157,0,34.5,0s-9.175,0.912-13.429,2.711c-4.108,1.738-7.798,4.225-10.966,7.393\
    c-3.168,3.168-5.656,6.858-7.393,10.966C0.912,25.325,0,29.843,0,34.5s0.912,9.175,2.711,13.429\
    c1.738,4.108,4.225,7.798,7.393,10.966c3.168,3.168,6.858,5.656,10.966,7.393C25.325,68.088,29.843,69,34.5,69\
    s9.175-0.912,13.429-2.711c4.108-1.738,7.798-4.225,10.966-7.393c3.168-3.168,5.656-6.858,7.393-10.966\
    C68.088,43.675,69,39.157,69,34.5S68.088,25.325,66.289,21.071z M34.5,67.608c-18.256,0-33.108-14.852-33.108-33.108\
    S16.244,1.392,34.5,1.392c18.256,0,33.108,14.852,33.108,33.108S52.756,67.608,34.5,67.608z')
