svg(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='53.948px', height='79.418px', viewbox='0 0 53.948 79.418', enable-background='new 0 0 53.948 79.418', xml:space='preserve')
   g
      path( d='M7.137,78.936c0.046,0.02,0.093,0.037,0.14,0.05c1.038,0.286,2.155,0.432,3.291,0.432\
    c3.969,0,8.168-1.778,10.031-5.537c1.311-2.643,1.214-5.736,1.137-8.221c-0.187-5.976-0.408-13.352,2.798-19.175l4.503,1.609\
    c0.113,0.04,0.228,0.059,0.341,0.059c0.409,0,0.794-0.25,0.941-0.653l2.319-6.333l9.736,3.477c0.112,0.04,0.227,0.059,0.34,0.059\
    c0.41,0,0.794-0.25,0.941-0.653c0.188-0.514-0.081-1.08-0.601-1.265l-9.736-3.478l1.878-5.129l9.736,3.477\
    c0.112,0.04,0.227,0.059,0.34,0.059c0.41,0,0.794-0.25,0.941-0.653c0.188-0.514-0.081-1.08-0.601-1.266l-9.736-3.477l1.878-5.128\
    l9.736,3.478c0.112,0.04,0.227,0.059,0.34,0.059c0.41,0,0.794-0.25,0.941-0.652c0.188-0.514-0.081-1.081-0.601-1.266l-9.736-3.477\
    l1.878-5.129l9.736,3.477c0.112,0.04,0.227,0.059,0.34,0.059c0.41,0,0.794-0.25,0.941-0.653c0.188-0.513-0.081-1.08-0.601-1.266\
    l-9.736-3.477l1.877-5.129l9.736,3.477c0.113,0.04,0.227,0.059,0.34,0.059c0.41,0,0.794-0.25,0.941-0.653\
    c0.188-0.514-0.081-1.08-0.601-1.266l-9.735-3.477l1.086-2.967c0.188-0.514-0.081-1.08-0.601-1.266l-18.62-6.65\
    c-0.521-0.186-1.095,0.079-1.282,0.593l-1.087,2.967l-9.736-3.477c-0.521-0.186-1.094,0.08-1.282,0.593\
    c-0.188,0.514,0.081,1.08,0.601,1.266l9.737,3.477l-1.878,5.129l-9.736-3.477C10.232,7.361,9.66,7.627,9.472,8.14\
    c-0.188,0.514,0.081,1.08,0.601,1.266l9.737,3.477l-1.878,5.129l-9.736-3.477c-0.521-0.187-1.094,0.08-1.282,0.593\
    c-0.188,0.513,0.081,1.08,0.601,1.266l9.737,3.477l-1.878,5.128l-9.736-3.477c-0.522-0.186-1.094,0.079-1.282,0.593\
    c-0.188,0.514,0.081,1.08,0.601,1.266l9.737,3.477l-1.878,5.129L3.079,28.51c-0.52-0.187-1.094,0.079-1.282,0.593\
    c-0.188,0.514,0.081,1.08,0.601,1.265l9.737,3.478l-2.319,6.333c-0.09,0.247-0.078,0.519,0.035,0.756\
    c0.113,0.237,0.316,0.421,0.566,0.51l4.504,1.608C13.614,49.554,8.667,55.084,4.653,59.56c-1.669,1.861-3.747,4.178-4.451,7.037\
    C-1.085,71.828,2.717,76.978,7.137,78.936z M14.356,33.589L14.356,33.589l0.001-0.001l11.32-30.916l16.738,5.978l-1.085,2.965\
    c0,0.001-0.002,0.001-0.002,0.002c0,0.001,0,0.002,0,0.003l-2.557,6.982c0,0.001-0.001,0.002-0.002,0.003c0,0.001,0,0.002,0,0.003\
    l-2.558,6.984v0l0,0l-7.435,20.307l-16.739-5.978L14.356,33.589z M2.148,67.064c0.586-2.383,2.402-4.408,4.003-6.194\
    c4.119-4.591,9.185-10.249,10.676-17.136l5.8,2.071c-3.314,6.236-3.083,13.785-2.892,19.917c0.074,2.385,0.159,5.088-0.933,7.29\
    c-1.928,3.886-7.044,5.124-10.914,4.09C4.244,75.453,1.113,71.268,2.148,67.064z')
      path( d='M27.189,7.618l1.088,0.389c0.113,0.04,0.228,0.059,0.341,0.059c0.409,0,0.794-0.25,0.941-0.652\
    c0.188-0.514-0.081-1.08-0.601-1.266L27.87,5.76c-0.522-0.186-1.093,0.08-1.282,0.593C26.4,6.866,26.669,7.432,27.189,7.618z')
      path( d='M32.075,9.364l1.088,0.388c0.113,0.04,0.228,0.059,0.34,0.059c0.41,0,0.794-0.251,0.941-0.653\
    c0.188-0.514-0.081-1.08-0.601-1.265l-1.088-0.389c-0.518-0.185-1.093,0.08-1.282,0.594C31.286,8.612,31.555,9.178,32.075,9.364z')
      path( d='M36.961,11.109l1.088,0.389c0.113,0.04,0.227,0.059,0.34,0.059c0.41,0,0.794-0.251,0.941-0.653\
    c0.188-0.514-0.081-1.08-0.601-1.266l-1.088-0.388C37.12,9.066,36.548,9.33,36.36,9.843C36.172,10.357,36.441,10.923,36.961,11.109\
    z')
      path( d='M24.631,14.605l1.088,0.389c0.113,0.04,0.228,0.059,0.34,0.059c0.41,0,0.794-0.25,0.941-0.653\
    c0.188-0.514-0.081-1.08-0.601-1.266l-1.088-0.389c-0.522-0.185-1.094,0.08-1.282,0.593C23.842,13.854,24.111,14.42,24.631,14.605z\
    ')
      path( d='M28.916,15.085c-0.188,0.514,0.081,1.08,0.601,1.266l1.088,0.389c0.113,0.04,0.228,0.059,0.341,0.059\
    c0.409,0,0.794-0.25,0.941-0.653c0.188-0.514-0.081-1.08-0.601-1.266l-1.088-0.389C29.676,14.305,29.104,14.571,28.916,15.085z')
      path( d='M33.802,16.83c-0.188,0.514,0.081,1.08,0.601,1.266l1.088,0.389c0.112,0.04,0.227,0.059,0.34,0.059\
    c0.41,0,0.794-0.25,0.941-0.653c0.188-0.514-0.081-1.08-0.601-1.266l-1.088-0.389C34.566,16.051,33.99,16.316,33.802,16.83z')
      path( d='M22.073,21.594l1.089,0.388c0.112,0.04,0.227,0.059,0.34,0.059c0.41,0,0.794-0.251,0.941-0.653\
    c0.188-0.513-0.081-1.08-0.601-1.266l-1.088-0.389c-0.518-0.185-1.093,0.081-1.282,0.594\
    C21.284,20.841,21.552,21.408,22.073,21.594z')
      path( d='M29.328,23.134c0.188-0.514-0.081-1.08-0.601-1.266l-1.088-0.389c-0.521-0.185-1.094,0.08-1.282,0.593\
    s0.081,1.08,0.601,1.266l1.088,0.389c0.113,0.04,0.228,0.059,0.341,0.059C28.796,23.786,29.181,23.536,29.328,23.134z')
      path( d='M33.614,23.613l-1.088-0.389c-0.521-0.187-1.094,0.079-1.282,0.593c-0.188,0.514,0.08,1.08,0.601,1.265\
    l1.088,0.389c0.113,0.04,0.228,0.059,0.34,0.059c0.41,0,0.794-0.25,0.941-0.653C34.402,24.365,34.133,23.798,33.614,23.613z')
      path( d='M21.884,28.376c0.188-0.513-0.081-1.08-0.601-1.266l-1.088-0.389c-0.521-0.187-1.094,0.08-1.282,0.593\
    c-0.188,0.514,0.081,1.08,0.601,1.266l1.088,0.389c0.113,0.04,0.228,0.06,0.34,0.06C21.352,29.029,21.736,28.778,21.884,28.376z')
      path( d='M26.77,30.12c0.188-0.514-0.082-1.08-0.601-1.266l-1.088-0.388c-0.518-0.184-1.094,0.08-1.282,0.593\
    c-0.188,0.514,0.081,1.08,0.601,1.266l1.089,0.388c0.112,0.04,0.227,0.059,0.34,0.059C26.238,30.773,26.623,30.523,26.77,30.12z')
      path( d='M31.054,30.599l-1.088-0.388c-0.518-0.183-1.093,0.081-1.282,0.594c-0.188,0.514,0.082,1.08,0.601,1.266\
    l1.088,0.388c0.113,0.04,0.228,0.059,0.34,0.059c0.41,0,0.794-0.251,0.941-0.653C31.843,31.351,31.574,30.785,31.054,30.599z')
      path( d='M18.725,34.098l-1.088-0.389c-0.521-0.186-1.094,0.079-1.281,0.593c-0.188,0.514,0.081,1.08,0.601,1.265\
    l1.088,0.389c0.113,0.041,0.228,0.059,0.341,0.059c0.409,0,0.794-0.25,0.941-0.653C19.514,34.849,19.245,34.283,18.725,34.098z')
      path( d='M23.611,35.842l-1.088-0.388c-0.521-0.187-1.094,0.079-1.282,0.593c-0.188,0.513,0.081,1.08,0.601,1.266\
    l1.088,0.388c0.113,0.041,0.228,0.06,0.34,0.06c0.41,0,0.794-0.251,0.941-0.653C24.399,36.595,24.131,36.028,23.611,35.842z')
      path( d='M29.097,38.853c0.188-0.514-0.081-1.08-0.601-1.266l-1.088-0.389c-0.521-0.186-1.094,0.079-1.282,0.593\
    c-0.188,0.514,0.081,1.08,0.601,1.266l1.088,0.389c0.113,0.04,0.228,0.059,0.341,0.059C28.566,39.505,28.95,39.255,29.097,38.853z')
