svg(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='77px', height='56px', viewbox='0 0 77 56', enable-background='new 0 0 77 56', xml:space='preserve')
   g
      path(d='M40.992,44.002c-0.25-0.073-0.509-0.111-0.77-0.111H29.736c-0.237,0-0.47,0.031-0.696,0.09\
    c-0.149,0.018-0.29,0.07-0.416,0.147c-0.962,0.434-1.595,1.401-1.595,2.465v6.578c0,1.491,1.215,2.703,2.708,2.703h10.486\
    c1.494,0,2.708-1.213,2.708-2.703v-6.578c0-1.171-0.749-2.203-1.862-2.568C41.043,44.018,41.004,44.006,40.992,44.002z\
    M40.841,53.173c0,0.34-0.278,0.617-0.619,0.617H29.736c-0.34,0-0.618-0.277-0.618-0.617v-6.578c0-0.258,0.162-0.491,0.404-0.58\
    c0.002,0,0.002,0,0.003-0.001c0.006-0.002,0.012-0.004,0.018-0.006c0.061-0.02,0.126-0.03,0.193-0.03h10.486\
    c0.06,0,0.118,0.008,0.184,0.028c0.003,0.001,0.007,0.002,0.011,0.003c0.253,0.083,0.424,0.319,0.424,0.586V53.173z')
      path(d='M45.16,0.339C44.962,0.123,44.682,0,44.389,0H25.351c-0.294,0-0.574,0.124-0.772,0.34\
    c-0.198,0.217-0.295,0.507-0.269,0.799l3.722,40.27c0.05,0.537,0.501,0.947,1.041,0.947h11.703c0.541,0,0.993-0.412,1.041-0.95\
    l3.19-35.561c0.011-0.063,0.038-0.121,0.038-0.187c0-0.026-0.013-0.047-0.015-0.072l0.399-4.45\
    C45.456,0.845,45.358,0.555,45.16,0.339z M43.246,2.086l-0.227,2.528H26.731l-0.233-2.528H43.246z M39.821,40.27h-9.795\
    L26.924,6.701h15.908L39.821,40.27z')
      path(d='M13.891,45.891c-0.194,0.052-0.376,0.133-0.545,0.242c-0.13,0.067-0.245,0.163-0.336,0.277\
    c-0.567,0.581-0.779,1.497-0.539,2.388l1.443,5.335c0.185,0.685,0.615,1.264,1.182,1.589C15.416,55.906,15.764,56,16.11,56\
    c0.167,0,0.332-0.022,0.495-0.065l6.586-1.775c0.589-0.159,1.073-0.596,1.325-1.199c0.217-0.519,0.25-1.126,0.093-1.708\
    l-1.443-5.335c-0.269-0.997-1.026-1.723-2.001-1.857c-0.228-0.022-0.463-0.005-0.689,0.055L13.891,45.891z M20.959,46.148\
    c0.051,0.037,0.142,0.138,0.189,0.312v0.001l1.443,5.335c0.047,0.175,0.02,0.308-0.006,0.366l-6.464,1.742\
    c-0.051-0.037-0.142-0.139-0.189-0.313l-1.443-5.335c-0.048-0.179-0.018-0.314,0.002-0.366L20.959,46.148z')
      path(d='M11.227,43.824c0.149,0.428,0.552,0.7,0.986,0.7c0.091,0,0.182-0.011,0.274-0.036l7.352-1.981\
    c0.53-0.143,0.859-0.671,0.753-1.209L14.027,8.024c-0.056-0.284-0.228-0.531-0.473-0.684c-0.247-0.153-0.545-0.197-0.825-0.121\
    L0.772,10.441c-0.28,0.076-0.516,0.264-0.651,0.52c-0.135,0.256-0.158,0.557-0.063,0.83L11.227,43.824z M12.881,42.221\
    L3.652,15.749l9.262-2.572l5.438,27.569L12.881,42.221z M12.193,9.524l0.316,1.6l-9.546,2.65l-0.562-1.611L12.193,9.524z')
      path(d='M47.369,44.077L45.618,48.6c-0.458,1.186,0.278,2.537,1.675,3.075l9.576,3.695\
    c0.379,0.146,0.761,0.215,1.126,0.215c0.986,0,1.851-0.503,2.185-1.367l1.75-4.522c0.368-0.95-0.033-2.042-0.998-2.717\
    c-0.007-0.005-0.056-0.038-0.064-0.043c-0.194-0.128-0.402-0.235-0.614-0.316l-9.573-3.694c-0.201-0.078-0.409-0.135-0.62-0.171\
    c-0.124-0.038-0.256-0.051-0.381-0.04C48.608,42.668,47.707,43.205,47.369,44.077z M49.565,44.799c0.027,0,0.056,0.001,0.086,0.005\
    c0.006-0.002,0.017,0.002,0.025,0.003c0.085,0.011,0.169,0.032,0.252,0.064l9.578,3.696c0.073,0.028,0.142,0.064,0.195,0.098\
    c0.002,0.001,0.024,0.016,0.038,0.026c0.169,0.119,0.233,0.247,0.243,0.253l-1.731,4.491c-0.051,0.048-0.304,0.114-0.629-0.011\
    l-9.576-3.695c-0.321-0.124-0.465-0.343-0.478-0.378l1.732-4.491C49.323,44.838,49.418,44.799,49.565,44.799z')
      path(d='M58.091,10.566c-0.266,0.137-0.46,0.382-0.533,0.672l-7.319,28.995c-0.129,0.511,0.144,1.038,0.637,1.228\
    l10.687,4.123c0.123,0.048,0.251,0.07,0.376,0.07c0.377,0,0.737-0.205,0.923-0.555l14.016-26.411\
    c0.14-0.263,0.16-0.574,0.056-0.853c-0.104-0.279-0.323-0.5-0.602-0.608l-17.384-6.707C58.67,10.411,58.357,10.429,58.091,10.566z\
    M61.45,43.304l-8.959-3.456l5.935-23.508l14.468,5.4L61.45,43.304z M74.481,18.749l-0.6,1.131l-14.942-5.576l0.357-1.413\
    L74.481,18.749z')
