svg(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='53px', height='74px', viewbox='0 0 53 74', enable-background='new 0 0 53 74', xml:space='preserve')
   g
      path( d='M0,21.172v46.656C0,71.231,2.795,74,6.23,74h10.371c3.435,0,6.23-2.769,6.23-6.172V21.172\
    c0-3.403-2.795-6.172-6.23-6.172h-0.799v-0.402c0-0.572-0.468-1.035-1.044-1.035H8.074c-0.577,0-1.044,0.463-1.044,1.035V15h-0.8\
    C2.795,15,0,17.769,0,21.172z M2.089,21.172c0-2.262,1.858-4.103,4.141-4.103h1.844c0.577,0,1.044-0.463,1.044-1.035v-0.402h4.595\
    v0.402c0,0.572,0.468,1.035,1.044,1.035h1.843c2.283,0,4.141,1.84,4.141,4.103v46.656c0,2.262-1.858,4.102-4.141,4.102H6.23\
    c-2.283,0-4.141-1.84-4.141-4.102V21.172z')
      path( d='M7.76,12.276c0.051,0.016,0.104,0.028,0.158,0.036l0.518,0.078c0.051,0.008,0.104,0.012,0.156,0.012h5.647\
    c0.052,0,0.104-0.004,0.156-0.012l0.519-0.078c0.054-0.008,0.107-0.02,0.159-0.036c1.16-0.363,1.939-1.416,1.939-2.622V2.747\
    C17.012,1.232,15.768,0,14.239,0H8.592C7.063,0,5.82,1.232,5.82,2.747v6.907C5.82,10.859,6.6,11.913,7.76,12.276z M7.909,2.747\
    c0-0.374,0.307-0.677,0.684-0.677h5.647c0.377,0,0.684,0.304,0.684,0.677v6.907c0,0.277-0.167,0.521-0.419,0.626l-0.343,0.051\
    h-5.49l-0.342-0.051c-0.254-0.105-0.42-0.35-0.42-0.626V2.747z')
   g
      path( d='M25.954,46.742c0,8.837,8.853,26.068,9.23,26.797C35.33,73.822,35.624,74,35.945,74h8.153\
    c0.332,0,0.634-0.19,0.774-0.488C45.204,72.811,53,56.212,53,46.742c0-12.14-5.683-16.001-9.071-17.223\
    c-0.094-0.034-0.193-0.051-0.292-0.051h-8.318c-0.095,0-0.19,0.016-0.28,0.047C29.18,31.53,25.954,37.649,25.954,46.742z\
    M35.466,31.162h8.017c5.037,1.897,7.807,7.422,7.807,15.579c0,8.219-6.444,22.727-7.741,25.564h-7.076\
    c-1.42-2.826-8.808-17.904-8.808-25.564C27.664,38.498,30.434,32.973,35.466,31.162z')
      path( d='M43.637,28.024c0.472,0,0.855-0.379,0.855-0.847v-7.983c0-1.373-1.472-2.448-3.351-2.448h-3.326\
    c-1.878,0-3.35,1.075-3.35,2.448v7.983c0,0.468,0.383,0.847,0.855,0.847H43.637z M36.174,19.194c0-0.266,0.623-0.754,1.64-0.754\
    h3.326c1.018,0,1.641,0.488,1.641,0.754v7.136h-6.608V19.194z')