+parallax({
	img: 'images/parallax-1-1920x870.jpg',
	innerClass: 'section-lg'
})
	.container 
		.row.row-30.block-offset-left-lg-30 
			.col-md-9.col-lg-8
				h2.decorate-heading Subscribe to Newsletter
				
				p.big Be the first to know about our promotions and discounts!
			.col-md-9.col-lg-6
				+inline-subscribe-form({})
