section.section.section-md.bg-image(style='background-image: url("images/bg-image-3.png");')
	.container
		.row.justify-content-center.justify-content-lg-end
			.col-sm-10.col-lg-5
				h2.decorate-heading Pricing
				p.block-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Vestibulum bibendum elit cursus dapibus 
				.pricing-list-classic
					.pricing-classic-item
						.pricing-classic-body
							h4 Tattooing
							p 60 – 100 Minute Session 
						.price-value
							h3 $40.00
					.pricing-classic-item
						.pricing-classic-body
							h4 Piercing
							p 30 – 40 Minute Session 
						.price-value
							h3 $35.00
					.pricing-classic-item
						.pricing-classic-body
							h4 Permanent Make-Up
							p 40 – 60 Minute Session 
						.price-value
							h3 $30.00
					.pricing-classic-item
						.pricing-classic-body
							h4 Laser Removal
							p 90 – 120 Minute Session 
						.price-value
							h3 $55.00
					

		