
section.section-lg.text-center.bg-dark-img
	.container
		// Owl Carousel
		.owl-carousel.carousel-creative(data-items='1' data-sm-items='2' data-lg-items='4', data-dots='true' data-nav='false' data-stage-padding='15', data-loop='true' data-autoplay='true', data-margin='30', data-mouse-drag="false")
			+png('partners-1-136x140')
			+png('partners-2-144x103')
			+png('partners-3-122x114')
			+png('partners-4-132x105')