.color-primary{
    color:$accent-1 !important;
}
.bg-primary{
    background-color:$accent-1 !important;
}
.color-white{
    color:$white !important; 
}
.bg-white{
    background-color: $white !important;
}
.light-black{
    color:$light-black !important;
}
.bg-light-black{
    background-color:$light-black !important;
}
.color-black{
    color:$black !important;
}
.bg-black{
    background-color: $black !important;
}
.dark-black{
    color:$dark-black !important;
}
.bg-dark-black{
    background-color:$dark-black !important;
}
.lightest-gray{
    color:$lightest-gray !important;
}
.bg-lightest-gray{
    background-color: $lightest-gray !important;
}
.light-gray{
    color:$light-gray !important;
}
.bg-light-gray{
    background-color: $light-gray !important;
}
.bg-medium-gray{
    background-color: $medium-gray !important;
}
.medium-gray{
    color:$medium-gray !important;
}
.dark-gray{
    color:$dark-gray !important;
}
.bg-dark-gray{
    background-color: $dark-gray !important;
}

.b-unstyle{
    border: 0;
    background: transparent;
}
